.menu {
  margin: 0 30px/18px/rem(18px)0rem0rem;
  padding-top: 5px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 10px/18px/rem(18px)0rem0rem;
}

.menu__item {
  margin-right: 27px/18px/rem(18px)0rem0rem;
  font-family: "Aligreya Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 18px/18px/rem(18px)0rem0rem;
  line-height: 30px/18px/rem(18px)0rem0rem;
  margin-right: 1.5rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu__link {
  text-decoration: none;
  white-space: nowrap;
}

html {
  font-size: 18px/rem(18px)0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  html {
    font-size: 18px/rem(18px)0rem-1px;
  }
}
@media screen and (max-width: rem(480px)) {
  html {
    font-size: 18px/rem(18px)0rem-2px;
  }
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px/18px/rem(18px)0rem0rem;
  font-family: "Play", Arial, Helvetica, sans-serif;
  line-height: 1.42;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  color: #666666;
  margin: 0;
}

.wrapper {
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 95%;
  max-width: 940px/rem(18px)0rem;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: normal;
  color: black;
}

table {
  border-collapse: collapse;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}

.hero__title-section {
  width: 38%;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .hero__title-section {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  .hero__title-section::before {
    content: "";
    height: 323px/18px/rem(18px)0rem0rem;
    width: 323px/18px/rem(18px)0rem0rem;
    background: url(../img/hero__1.png) center center/cover no-repeat;
    margin-bottom: 66px/18px/rem(18px)0rem0rem;
  }
}
@media screen and (max-width: rem(480px)) {
  .hero__title-section::before {
    margin-bottom: 49px/18px/rem(18px)0rem0rem;
  }
}

@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .hero__icons-section {
    display: none;
  }
}

.hero {
  background-color: #F5F5F5;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  padding: 24px/18px/rem(18px)0rem0rem 0 45px/18px/rem(18px)0rem0rem;
  background: url(../img/hero__1.png) left 97% center no-repeat;
  background-color: #F5F5F5;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .hero__container {
    background: none;
    padding: 38px/18px/rem(18px)0rem0rem 0 45px/18px/rem(18px)0rem0rem;
  }
}
@media screen and (max-width: rem(480px)) {
  .hero__container {
    padding: 23px/18px/rem(18px)0rem0rem 0 40px/18px/rem(18px)0rem0rem;
  }
}

.hero__main-title {
  font-size: 48px/18px/rem(18px)0rem0rem;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 15px/18px/rem(18px)0rem0rem;
  text-transform: uppercase;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .hero__main-title {
    padding: 0 4%;
  }
}
@media screen and (max-width: rem(480px)) {
  .hero__main-title {
    font-size: 32px/18px/rem(18px)0rem0rem;
    line-height: 36px/18px/rem(18px)0rem0rem;
    padding: 0 17%;
  }
}

.hero__title-desc {
  font-weight: 400;
  font-size: 21px/18px/rem(18px)0rem0rem;
  margin-bottom: 28px/18px/rem(18px)0rem0rem;
  min-width: 332px/18px/rem(18px)0rem0rem;
  font-family: "Alegreya Sans", "Arial", sans-serif;
  color: #292929;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .hero__title-desc {
    padding: 0 25%;
    margin-bottom: 23px/18px/rem(18px)0rem0rem;
  }
}
@media screen and (max-width: rem(480px)) {
  .hero__title-desc {
    font-family: "Play", "Arial", sans-serif;
    padding: 0 14%;
    font-size: 18px/18px/rem(18px)0rem0rem;
    line-height: 20px/18px/rem(18px)0rem0rem;
  }
}

.phone-number {
  font-size: 18px/18px/rem(18px)0rem0rem;
  line-height: 18px/18px/rem(18px)0rem0rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  white-space: nowrap;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .phone-number {
    display: none;
  }
}

.phone-number__icon-elem {
  width: 14px/18px/rem(18px)0rem0rem;
  height: 14px/18px/rem(18px)0rem0rem;
  margin-right: 6px/18px/rem(18px)0rem0rem;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-right: 23px/18px/rem(18px)0rem0rem;
  align-items: center;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .phone-number.header__phone-number {
    display: none;
  }
}

.hamburger {
  width: 24px/18px/rem(18px)0rem0rem;
  height: 20px/18px/rem(18px)0rem0rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: none;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .hamburger {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger__plank {
  display: block;
  background: #292929;
  height: 4px/18px/rem(18px)0rem0rem;
  border-radius: 10px/18px/rem(18px)0rem0rem;
}

.features {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features__item {
  margin-right: 18px/18px/rem(18px)0rem0rem;
}
.features__item:last-child {
  margin-right: 0;
}

.features__text {
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 18px/18px/rem(18px)0rem0rem;
  width: 114px/18px/rem(18px)0rem0rem;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feature__icon {
  width: 41px/18px/rem(18px)0rem0rem;
  height: 41px/18px/rem(18px)0rem0rem;
  margin-right: 7px/18px/rem(18px)0rem0rem;
}

.feature__text {
  font-size: 16px/18px/rem(18px)0rem0rem;
}

.feature__icon-icon {
  max-height: 100%;
}

.btn {
  font-size: 16px/18px/rem(18px)0rem0rem;
  font-weight: bold;
  padding: 21px/18px/rem(18px)0rem0rem 41px/18px/rem(18px)0rem0rem;
  text-transform: uppercase;
  border-radius: 100px/18px/rem(18px)0rem0rem;
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;
}
@media screen and (max-width: rem(480px)) {
  .btn--hero {
    font-size: 19px/18px/rem(18px)0rem0rem;
    line-height: 18px/18px/rem(18px)0rem0rem;
  }
}

.btn--theme--red {
  background: #E01F3D;
  color: #fff;
}

.btn--theme--red:hover {
  background: #CA1B36;
  color: #fff;
}

.btn--theme--transparent {
  text-transform: capitalize;
  background: transparent;
  font-weight: 400;
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 19px/18px/rem(18px)0rem0rem;
  color: white;
  border: none;
  padding: 0 21px/18px/rem(18px)0rem0rem 0;
}

.btn--theme--transparent:hover {
  color: red;
}

.section {
  height: 100vh;
  min-height: 650px/18px/rem(18px)0rem0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section__title {
  font-size: 48px/18px/rem(18px)0rem0rem;
  line-height: 52px/18px/rem(18px)0rem0rem;
  font-weight: bold;
  margin-bottom: 60px/18px/rem(18px)0rem0rem;
  text-align: center;
  text-transform: uppercase;
  color: #000;
}

.section__title-form {
  color: white;
}

.headline {
  text-align: center;
}

.headline__title {
  color: #292929;
  margin-bottom: 18px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .headline__title {
    margin-bottom: 11px/18px/rem(18px)0rem0rem;
  }
}

.headline__subtitle {
  padding: 0 20%;
  margin-bottom: 62px/18px/rem(18px)0rem0rem;
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 19px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .headline__subtitle {
    padding: 0 8%;
  }
}

.benefits__main-title {
  margin-bottom: 18px/18px/rem(18px)0rem0rem;
}

@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .benefits__conteiner {
    width: 99%;
  }
}
@media screen and (max-width: rem(480px)) {
  .benefits__conteiner {
    width: 95%;
  }
}

.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px/18px/rem(18px)0rem0rem;
}

.benefits__item {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 3%;
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .benefits__item {
    padding: 0;
  }
}

.benefits__item::before {
  content: url(../img/shape.png);
  position: absolute;
  top: 60px/18px/rem(18px)0rem0rem;
  right: 0;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
  display: block;
  width: 70px/18px/rem(18px)0rem0rem;
  height: 24px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .benefits__item::before {
    display: none;
  }
}

.benefits__item:first-child {
  padding-left: 0;
}

.benefits__item:last-child {
  padding-right: 0;
}

.benefits__item:last-child::before {
  display: none;
}

.benefit {
  text-align: center;
}

.benefit__image {
  margin-bottom: 19px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .benefit__image {
    margin-bottom: 24px/18px/rem(18px)0rem0rem;
  }
}

.benefit__image-wrapper {
  display: inline-block;
  width: 126px/18px/rem(18px)0rem0rem;
  height: 126px/18px/rem(18px)0rem0rem;
  position: relative;
  background: #F2F5F4;
  border-radius: 50%;
  overflow: hidden;
}

.benefit__icon {
  max-width: 60px/18px/rem(18px)0rem0rem;
  max-height: 62px/18px/rem(18px)0rem0rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.benefit__title {
  margin-bottom: 7px/18px/rem(18px)0rem0rem;
  font-size: 24px/18px/rem(18px)0rem0rem;
  line-height: 28px/18px/rem(18px)0rem0rem;
  font-weight: 700;
  font-weight: bold;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .benefit__title {
    margin-bottom: 20px/18px/rem(18px)0rem0rem;
  }
}

.benefit__desc {
  max-width: 88%;
  font-weight: 400;
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 19px/18px/rem(18px)0rem0rem;
  color: #666666;
  margin: 0 auto;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .benefit__desc {
    max-width: 100%;
  }
}

.reviews__main-title {
  margin-bottom: 32px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__main-title {
    margin-bottom: 33px/18px/rem(18px)0rem0rem;
  }
}

.reviews__display {
  background: #F8FAF9;
  padding: 42px/18px/rem(18px)0rem0rem 39px/18px/rem(18px)0rem0rem 42px/18px/rem(18px)0rem0rem;
  margin-bottom: 11px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__display {
    padding: 56px/18px/rem(18px)0rem0rem 24px/18px/rem(18px)0rem0rem 40px/18px/rem(18px)0rem0rem;
    margin-bottom: 32px/18px/rem(18px)0rem0rem;
  }
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__display-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.reviews__avatar-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 253px/18px/rem(18px)0rem0rem;
  height: 264px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__avatar {
    width: 130px/18px/rem(18px)0rem0rem;
    height: 130px/18px/rem(18px)0rem0rem;
  }
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.reviews__content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-left: 40px/18px/rem(18px)0rem0rem;
  padding-top: 19px/18px/rem(18px)0rem0rem;
  max-width: 54%;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__content {
    max-width: 100%;
    margin-left: 0;
    padding-top: 40px/18px/rem(18px)0rem0rem;
  }
}

.reviews__title {
  font-weight: bold;
  font-weight: 700;
  font-size: 24px/18px/rem(18px)0rem0rem;
  line-height: 28px/18px/rem(18px)0rem0rem;
  margin-bottom: 27px/18px/rem(18px)0rem0rem;
  color: black;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__title {
    margin-bottom: 16px/18px/rem(18px)0rem0rem;
  }
}

.reviews__text {
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 19px/18px/rem(18px)0rem0rem;
  margin-bottom: 38px/18px/rem(18px)0rem0rem;
  color: #666666;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .reviews__text {
    margin-bottom: 16px/18px/rem(18px)0rem0rem;
  }
}

.reviews__author {
  font-size: 18px/18px/rem(18px)0rem0rem;
  font-weight: bold;
  color: black;
}

.reviews__switcher {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.interactive-avatar {
  width: 80px/18px/rem(18px)0rem0rem;
  height: 80px/18px/rem(18px)0rem0rem;
  border: 6px/18px/rem(18px)0rem0rem solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}

.interactive-avatar--active {
  border-color: red;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.order-section {
  background: rgba(15, 14, 14, 0.89);
  color: #fff;
}

.order-section__title {
  color: inherit;
  margin-bottom: 58px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .order-section__title {
    margin-bottom: 30px/18px/rem(18px)0rem0rem;
  }
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 18%;
  }
}

.form__title {
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 19px/18px/rem(18px)0rem0rem;
  margin-bottom: 6px/18px/rem(18px)0rem0rem;
  color: white;
}

.form__col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 15px/18px/rem(18px)0rem0rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__col {
    margin-right: 0px/18px/rem(18px)0rem0rem;
  }
}

.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 17px/18px/rem(18px)0rem0rem;
     -moz-column-gap: 17px/18px/rem(18px)0rem0rem;
          column-gap: 17px/18px/rem(18px)0rem0rem;
  margin-bottom: 11px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__row {
    margin-bottom: 16px/18px/rem(18px)0rem0rem;
  }
}
.form__row--textarea {
  margin-bottom: 18px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__row--textarea {
    margin-bottom: 30px/18px/rem(18px)0rem0rem;
  }
}

.form__controls {
  margin-bottom: 20px/18px/rem(18px)0rem0rem;
}

.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.form__col-ml {
  margin-left: 27px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__col-ml {
    margin-left: 0px/18px/rem(18px)0rem0rem;
  }
}

.form__input {
  width: 100%;
  border: 3px/18px/rem(18px)0rem0rem solid transparent;
  border-radius: 4px/18px/rem(18px)0rem0rem;
  padding: 18px/18px/rem(18px)0rem0rem 12px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__input {
    padding: 8px/18px/rem(18px)0rem0rem 10px/18px/rem(18px)0rem0rem;
  }
}
.form__input--textarea {
  display: block;
  height: 152px/18px/rem(18px)0rem0rem;
  resize: none;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__input--textarea {
    height: 82px/18px/rem(18px)0rem0rem;
  }
}

.form__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin-top: 46px/18px/rem(18px)0rem0rem;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .form__btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}

.radio__elem {
  display: none;
}

.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__title {
  font-size: 16px/18px/rem(18px)0rem0rem;
  line-height: 19px/18px/rem(18px)0rem0rem;
}

.radio__visible {
  width: 26px/18px/rem(18px)0rem0rem;
  height: 26px/18px/rem(18px)0rem0rem;
  position: relative;
  border-radius: 50%;
  background: #fff;
  margin-right: 10px/18px/rem(18px)0rem0rem;
}
.radio__visible::before {
  content: "";
  width: 14px/18px/rem(18px)0rem0rem;
  height: 14px/18px/rem(18px)0rem0rem;
  background: #E01F3D;
  border-radius: 50%;
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.radio__visible--checkbox {
  border-radius: 0;
}
.radio__visible--checkbox::before {
  background: transparent;
  border-left: 3px/18px/rem(18px)0rem0rem solid #E01F3D;
  border-bottom: 3px/18px/rem(18px)0rem0rem solid #E01F3D;
  border-radius: 0;
  height: 4px/18px/rem(18px)0rem0rem;
  width: 10px/18px/rem(18px)0rem0rem;
  -webkit-transform: translate(-50%, -50%) rotate(313deg);
          transform: translate(-50%, -50%) rotate(313deg);
}

.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
}
@media screen and (max-width: 768px/18px/rem(18px)0rem0rem) {
  .fixed-menu {
    display: none;
  }
}

.fixed-menu__item {
  margin-bottom: 5px/18px/rem(18px)0rem0rem;
}
.fixed-menu__item--active .fixed-menu__link {
  border-color: #547655;
}

.fixed-menu__link {
  width: 16px/18px/rem(18px)0rem0rem;
  height: 16px/18px/rem(18px)0rem0rem;
  border-radius: 50%;
  border: 1px/18px/rem(18px)0rem0rem solid transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.fixed-menu__link::before {
  content: "";
  width: 6px/18px/rem(18px)0rem0rem;
  height: 6px/18px/rem(18px)0rem0rem;
  background-color: #292929;
  border-radius: 50%;
}

.logo {
  width: 40px/18px/rem(18px)0rem0rem;
  height: 40px/18px/rem(18px)0rem0rem;
}
/*# sourceMappingURL=main.css.map */