$containerWidth: rem(940px);
$baseFontSize: rem(18px);

$tablets: rem(768px);
$phones: rem(480px);

@function rem($px) {
    @return $px / $baseFontSize + 0rem;
}

@mixin tablets {
    @media screen and (max-width: $tablets) {
        @content;
    }
}

@mixin phones {
    @media screen and (max-width: $phones) {
        @content;
    }
}

@import "layout/media";
@import "blocks/menu";
@import "layout/layout";
@import "blocks/hero";
@import "blocks/phone";
@import "blocks/header";
@import "blocks/hamburger.scss";
@import "blocks/features";
@import "blocks/feature";
@import "blocks/btn";
@import "blocks/section";
@import "blocks/headline";
@import "blocks/benefits";
@import "blocks/benefit";
@import "blocks/reviews";
@import "blocks/interactive-avatar";
@import "blocks/form";
@import "blocks/radio";
@import "blocks/fixed-menu";
@import "blocks/logo";