.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 23px;
    align-items: flex-start;
}

.phone-number.header__phone-number {
    @include tablets {
        display: none;
    }
}