.hero {
    
}

.hero__title-section {
    width: 38%;

    @include tablets {
        width: 100%;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        &::before {
            content: url(../img/hero__1.png);
            //height: 323px;
            //width: 323px;
            margin-bottom: 33px;
        }
    }
}

.hero__icons-section {
    
    @include tablets {
        display: none;
    }
}

.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    padding: 24px 0 45px;
    background: url(../img/hero__1.png) left 97% center no-repeat;
    background-color: #F5F5F5;

    @include tablets {
        background: none;
    }
}

.hero__main-title {
    font-size: 48px;
    line-height: 1.1;
    font-weight: bold;
    margin-bottom: 15px;
    text-transform: uppercase;

    @include tablets {
        padding: 0 4%;
    }
}

.hero__title-desc {
    font-weight: 400;
    font-size: 21px;
    margin-bottom: 28px;
    min-width: 332px;
    font-family: 'Alegreya Sans', 'Arial', sans-serif;
    color: #292929;

    @include tablets {
        padding: 0 25%;
        margin-bottom: 23px;
    }
}