.modal {
    display: none;
}

.modal__content {
    margin-bottom: rem(18px);
    color: #000;

    @include phones {
        color: #000;
        font-weight: 700;
        font-size: rem(18px);
        line-height: rem(24px);
        text-align: center;
    }
}

.modal__button-container {
    align-items: center;
}

.error-modal {
    border-color: yellow;
}